@import "tailwindcss";

@theme {
  --color-brand-red: #8B0000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide header on homepage */
.home-page~header,
body:has(.home-page) header {
  display: none;
}